/ExchangeMonitor.Engine/bin/Debug
/ExchangeMonitor.Engine/obj/Debug
/ExchangeMonitor/*.user
/ExchangeMonitor/bin/Debug
/ExchangeMonitor/obj/Debug
/ExchangeMonitorConsole/bin/Debug
/ExchangeMonitorConsole/obj/Debug
